:root {
    --beige: #E0C590;
    --brown: #6F3D21;
    --lightblue: #A7BED3;
    --navyblue: #1B3159;
    margin: 0px;
    padding: 0px;
}


.intro {
    font-size: 18px;
}

.logo {
    height: 100px;
    width: 350px;
    position: absolute;
    top: 0;
}

.header {
    background-color: var(--beige);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.title {
   font-size: 36px;
}

.header-links {
    margin-top: 20px;
}


.book-card {
    width: 300px;
    height: 500px;
    margin: 50px;
}

.book-image {
    width: 200px;
    margin: 30px;
}

.signup {
    font-size: 24px;
    color: white;
}

.header-btn {
    background-color: var(--navyblue);
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.login {
    font-size: 24px;
    text-align: center;
}



.discuss-header {
    background-color: var(--beige);
    width: 100%;
    height: 50px;
    text-align: center;
}

.discussion-board {
    width: 75%;
    left: 12.5%;
    position: relative;
    text-align: center;
}

.comment-box {
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    margin: 20px;
}

.footer {
    background-color: var(--beige);
    height: 50px;
}

.fields {
    display: flex;
    flex-direction: column;
}

.contact-form {
    margin-bottom: 100px;
}