:root {
    --beige: #E0C590;
    --brown: #6F3D21;
    --lightblue: #A7BED3;
    --navyblue: #1B3159;
    margin: 0px;
    padding: 0px;
}

.home-page {
    background-image: url('bookshelf1.jpg');
    background-size: 100%;
    padding: 100px;
    opacity: 80%;
    margin: 0;
}

.logo {
    height: 100px;
    width: 350px;
    position: absolute;
    top: 0;
}

.header {
    background-color: var(--beige);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-btn {
    background-color: var(--navyblue);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
}

.header-btn a{
    font-size: 18px;
    color: white;
    padding: 2px;
}

#home-header {
    font-size: 36px;
    color: black;
}

.home-text {
    text-align: center;
    padding: 70px;
    color: black;
    background-color: white;
    opacity: 75%;
    border-radius: 30px;
}

.intro {
    font-size: 20px;
    margin: 25px;
}

.header-links {
    margin-top: 20px;
}

.books-page {
    margin-bottom: 50px;
}

.book-card {
    margin-bottom: 10px;
}

.book-image {
    width: 200px;
    height: 300px;
    margin: 30px;
    margin-bottom: 10px;
}

.book-cards {
    position: relative;
    left: 2%;
}

.like-label {
    font-size: 20px;
}

.vote-btns {
    text-align: center;
}

.like-btn {
    margin: 5px;
}

.login-page {
    margin: 70px;
    padding-top: 10px;
    width: 50%;
    left: 20%;
    position: relative;
    border-color: var(--navyblue);
    border-style: solid;
    border-radius: 30px;
    background-color: var(--navyblue);
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.login-form {
    width: 50%;
    text-align: center;
    left: 25%;
    position: relative;
    margin-bottom: 50px;
}

.label-login {
    color: white;
    padding-top: 10px;
}

#login-btn {
    margin-top: 30px;
    background-color: var(--lightblue);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    font-size: 18px;
}

.signup-page {
    margin: 70px;
    padding: 50px;
    width: 70%;
    left: 10%;
    position: relative;
    border-color: var(--navyblue);
    border-style: solid;
    border-radius: 30px;
    background-color: var(--navyblue);
}

.signup-header {
    color: white;
    text-align: center;
}

.label-signup {
    color: white;
    padding-top: 10px;
}

.field-signup {
    width: 50%;
    text-align: center;
    left: 25%;
    position: relative;
}

.submit-btn {
    background-color: var(--lightblue);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    left: 43%;
    position: relative;
    font-size: 18px;
    margin-top: 15px;
}

.discuss-header {
    text-align: center;
    font-size: 30px;
}

.discussion-board {
    width: 50%;
    left: 25%;
    position: relative;
    text-align: center;
}

.comment-box {
    border-color: var(--brown);
    border-style: solid;
    border-radius: 30px;
    margin: 20px;
}

.fields {
    display: flex;
    flex-direction: column;
}

#contact-link {
    font-size: 18px;
    text-align: center;
}

.contact-header {
    color: white;
    text-align: center;
}

.label-contact {
    color: white;
}

.contact-form {
    margin: 50px;
    width: 50%;
    left: 25%;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
    background-color: var(--navyblue);
}

.field-contact {
    margin: 10px;
}

.contact-btn {
    background-color: var(--lightblue);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    left: 40%;
    position: relative;
}

#footer {
    background-color: var(--beige);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    position: relative;
    bottom: 0px;
}

#footer-logo {
    width: 200px;
    height: 50px;
}

#contact-link a{
    font-size: 24px;
    color: var(--navyblue);
}

#contact-link a:hover {
    color: white;
}

.footer-element {
    margin-top: 15px;
}

@media (min-width: 390px) {
    .logo {
        width: 50%;
    }

    .home-text {
        position: relative;
        padding: 10px;
    }
}