:root {
    --beige: #E0C590;
    --brown: #6F3D21;
    --lightblue: #A7BED3;
    --navyblue: #1B3159;
    margin: 0px;
    padding: 0px;
}

.home-page {
    background-image: url('bookshelf1.jpg');
    background-size: 100%;
    padding: 100px;
    opacity: 80%;
    margin: 0;
}

.logo {
    height: 100px;
    width: 350px;
    position: absolute;
    top: 0;
}

.header {
    background-color: var(--beige);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


#home-header {
    font-size: 36px;
    color: black;
}

.home-text {
    text-align: center;
    padding: 70px;
    color: black;
    background-color: white;
    opacity: 75%;
    border-radius: 30px;
}

.intro {
    font-size: 20px;
    margin: 25px;
    
}

.header-links {
    margin-top: 20px;
}


.book-card {
    width: 300px;
    height: 500px;
    margin: 50px;
}

.book-image {
    width: 200px;
    margin: 30px;
}

.signup {
    font-size: 18px;
    color: white;
    padding: 2px;
}

.login {
    font-size: 18px;
    color: white;
    padding: 2px;
}

.header-btn {
    background-color: var(--navyblue);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
}

.login-page {
    margin-top: 75px;
    width: 50%;
    left: 25%;
    position: relative;
}
.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-form {
    width: 50%;
    text-align: center;
    left: 25%;
    position: relative;
    margin-bottom: 100px;
}

.discuss-header {
    background-color: var(--beige);
    width: 100%;
    height: 50px;
    text-align: center;
}

.discussion-board {
    width: 75%;
    left: 12.5%;
    position: relative;
    text-align: center;
}

.comment-box {
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    margin: 20px;
}

#footer {
    background-color: var(--beige);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#footer-logo {
    width: 200px;
    height: 50px;
}

#contact-link a{
    font-size: 24px;
    color: var(--navyblue);
}

#contact-link a:hover {
    color: white;
}

.footer-element {
    margin-top: 15px;
}


.fields {
    display: flex;
    flex-direction: column;
}

#contact-link {
    font-size: 18px;
    text-align: center;
}

.contact-form {
    margin-bottom: 100px;
}